<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  
  <!-- 控制台输出日志 -->
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org.apache" level="INFO">
  		<appender-ref ref="stdout"/>
  </logger>
  
  <logger name="org.springframework" level="INFO">
  		<appender-ref ref="stdout"/>
  </logger>
  
  <logger name="com.wenwo" level="INFO">
  		<appender-ref ref="stdout"/>
  </logger>
</configuration>